

/*/////////////////////////////////////////////////////////////////////////////*/

            /* Add Gradient Text*/
            .header_Text_Link.Gradient_Text {

                background: -webkit-linear-gradient(180deg, var(--clr-gradient1), var(--clr-gradient2));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    
                }

                .Gradient_Text_hover:hover {
                    background: -webkit-linear-gradient(180deg, var(--clr-gradient1), var(--clr-gradient2));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: none;
                }
    
    /*/////////////////////////////////////////////////////////////////////////////*/
    
                /* Add Gradient Border */
                .Gradient_Border:hover {
    
                    /* Gradient Border without Radius */
    /*              border: 1px solid;
                    border-image-slice: 1;                  
                    border-image-source: linear-gradient(to left, var(--clr-gradient1), var(--clr-gradient2));
                    */
    
                    border-color: rgba(0,0,0,0.0);
                    position: relative;


    
    
                }

                .Gradient_Border.GB_SizeFix:hover {
                    height: 33px;
                    width: 122px;
                    margin: -1px;
                    padding-top: 6px;
                }
    
                /* Add Gradient Border with Radius */
                .Gradient_Border:hover::after {
                    
                    content: "";
                    position: absolute;
    
                    background: linear-gradient(to left, var(--clr-gradient1), var(--clr-gradient2));
                    -webkit-mask: 
                      linear-gradient(#fff 0 0) content-box, 
                      linear-gradient(#fff 0 0);
    
                    inset: 0;
                    padding: 1px; /* control the border thickness */
                    -webkit-mask-composite: xor;
                            mask-composite: exclude;
    
                    border-radius: 10px;
    
    
    
    
                }


/*/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////*/

        .Gradient_Link_Background2 {


            /* style : to use gradient color to work with the ::before - transparent text */
            background-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0));
            border: none;

            /* Gives the transparent text property, Remove for white text */
            color: black;
            transform: translate(0%, 0%);
            mix-blend-mode: screen;
            font-weight: 600;

            position: relative;         


        }


        .Gradient_Link_Background2:hover {
            color: black !important;        /*activate the transparent text*/

            text-shadow: none;

        }


                /*-----------------------------------------------------------------------------*/
                .Gradient_Link_Background2::before { 

                    /*before or after the content of the element */
                    /* dont work on images because they are content themselves */
                    content: ' '; /* Add Text for white text */

                    background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient1), var(--clr-gradient2));                
                    position: absolute;

                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                
                    height: inherit;
                    width: inherit;

                    opacity:0;                    

                    border-radius: 15px;
                    z-index: -2; /* make 0 for white text */
                    mix-blend-mode: multiply; /* remove for white text */

                    
                    transition: opacity 1000ms linear;

                }

                .Gradient_Link_Background2:hover::before {
                    opacity: 1;
                }

                .Gradient_Link_Background2::after { 

                    /*before or after the content of the element */
                    /* dont work on images because they are content themselves */
                    content: ' '; /* Add Text for white text */

                    background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient2), var(--clr-gradient2));                
                    position: absolute;

                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                
                    height: inherit;
                    width: inherit;

                    opacity:0;                    

                    border-radius: 15px;
                    z-index: -1; /* make 0 for white text */
                    mix-blend-mode: screen; /* remove for white text */

                    
                    transition: opacity 2000ms linear;

                }

                .Gradient_Link_Background2:hover::after {
                    opacity: 1;
                }


    /*/////////////////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////////////////*/


                .Gradient_Link_Background {

    
                    font-size: 20px;
                    font-weight: 900;
                    padding-top: 0px;


                    /* style : to use gradient color to work with the ::before - transparent text */
                    background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient2));
                    border: none;
    
                    /* Gives the transparent text property, Remove for white text */
                    color: black;
                    transform: translate(0%, 0%);
                    mix-blend-mode: screen;
    
                    position: relative;         
    
    
                }
    
                        /*-----------------------------------------------------------------------------*/
                        .Gradient_Link_Background::before { 
    
                            /*before or after the content of the element */
                            /* dont work on images because they are content themselves */
                            content: ' '; /* Add Text for white text */
    
                            background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient1), var(--clr-gradient2));                position: absolute;
    
                            top:0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        
                            height: inherit;
                            width: inherit;
    
                            opacity:0;                    
    
                            border-radius: 10px;
                            z-index: -1; /* make 0 for white text */
                            mix-blend-mode: multiply; /* remove for white text */
    
                            
                            transition: opacity 1000ms linear;
    
                        }
    
                        .Gradient_Link_Background:hover::before {
                            opacity: 1;
                        }   
    
    
    

