/*/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////*/


body {
    height: 200vh;
/*    background: url('https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80') 50%;
*/

}

*, *::before, *::after {
    box-sizing: border-box;
}


/*////////////////////////////////////////////////////////////////////*/
/* Mobile screen */
@media only screen and (max-width: 470px) {

    html {
        font-size: 3vmin ;
    }



    .social_icon_box_container {

        height: min(2.93rem,34.14px);  /* factor of 5 */
    /*    width: calc(2.2rem * 5); */  /* no width, responsive to item count */

        border-radius: 20px;


        /*/////////////////////////////*/

        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        background: rgb(22, 22, 22);
        mix-blend-mode: screen;

        /*/////////////////////////////*/

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        padding: 0.2rem max(0.4rem,6px);

    }

    .social_icon_box_container:hover {
        background: rgb(40, 40, 40);
        transition: background 1s ease-in-out;

    }


        .social_icon_box {
            height: min(2.26rem, 27.39px);
            width: min(2.4rem, 29.02px);

            border-radius: 50%;

            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: min(1.33em, 16.2px);
            margin: 0 0.5em;
            font-weight: 700;
            padding-top: 0.1em;

            text-shadow: /* text border */
            -0.05em 0 var(--clr-socialborder),
            0.05em 0  var(--clr-socialborder),
            0 -0.05em var(--clr-socialborder),
            0 0.05em  var(--clr-socialborder);

            /* align text inside */
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgb(89, 89, 89);
            color: black;



        }

        .social_icon_box:hover {
            background: rgb(127, 127, 127);;
            text-shadow: 0px 0px 10px rgb(0, 0, 0);
            transition: background var(--timing1) ease-in-out;

        }

    
}



    /*////////////////////////////////////////////////////////////////////*/
    /* Tablet Styles */
   @media only screen and (min-width: 471px) and (max-width: 800px) {

        html {
            font-size: 3vmin ;
        }



        .social_icon_box_container {

            width: min(2.5rem,37.45px);  /* factor of 5 */
        /*    width: calc(2.2rem * 5); */  /* no width, responsive to item count */

            border-radius: 20px;


            /*/////////////////////////////*/

            position: fixed;
            right: 6.5vmin;
            bottom: 20%;
            transform: translate(0, 50%);

            background: rgb(22, 22, 22);
            mix-blend-mode: screen;

            /*/////////////////////////////*/

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            padding: max(0.4em,7px) 0.2em;

        }

        .social_icon_box_container:hover {
            background: rgb(40, 40, 40);
            transition: background 1s ease-in-out;

        }


            .social_icon_box {
                height: min(1.7rem, 27.39px);
                width: min(1.8rem, 29.02px);

                border-radius: 50%;

                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: min(1em, 16.2px);
                margin: min(7.5px,1em) 0;
                font-weight: 700;


                text-shadow: /* text border */
                -0.05em 0 var(--clr-socialborder),
                0.05em 0  var(--clr-socialborder),
                0 -0.05em var(--clr-socialborder),
                0 0.05em  var(--clr-socialborder);

                /* align text inside */
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: rgb(89, 89, 89);
                color: black;



            }

            .social_icon_box:hover {
                background: rgb(127, 127, 127);;
                text-shadow: 0px 0px 10px rgb(0, 0, 0);
                transition: background var(--timing1) ease-in-out;

            }


    }






/*////////////////////////////////////////////////////////////////////*/
/* Desktop Styles media query with high resolution support */
  @media only screen and (min-width: 801px) and (max-width: 1500px){

    html {
        font-size: 3vmin ;
    }



    .social_icon_box_container {

        height: min(1.445rem,25.5px);  /* factor of 5 */
    /*    width: calc(2.2rem * 5); */  /* no width, responsive to item count */

        border-top-left-radius: 17px;

        min-height: 31.093px ;
        

        /*/////////////////////////////*/

        position: fixed;
        bottom: 0;
        right: 0;

        background: rgb(22, 22, 22);
        mix-blend-mode: screen;

        /*/////////////////////////////*/

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding-left: 0px;
        padding-top: 12.75px;
        padding-bottom: 11.05px;
        padding-right: -1px;



    }

    .social_icon_box_container:hover {
        background: rgb(40, 40, 40);
        transition: background 1s ease-in-out;

    }


        .social_icon_box {
            height: 20.4px;
            width: 21.25px;
/*
            height: min(1.5rem, 33.39px);
            width: min(1.6rem, 35.02px);
*/

            border-radius: 50%;

            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13.6px;
            font-weight: 700;
            padding-top: 1.7px;
            margin: 0 8.5px;

            text-shadow: /* text border */
            -0.05em 0 var(--clr-socialborder),
            0.05em 0  var(--clr-socialborder),
            0 -0.05em var(--clr-socialborder),
            0 0.05em  var(--clr-socialborder);

            /* align text inside */
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgb(89, 89, 89);
            color: black;



        }

        .social_icon_box:hover {
            background: rgb(127, 127, 127);;
            text-shadow: 0px 0px 10px rgb(0, 0, 0);
            transition: background var(--timing1) ease-in-out;

        }

    
    }





 

@media only screen and (min-width: 1501px) {
/*////////////////////////////////////////////////////////////////////*/
/* Desktop Styles media query with high resolution support */

html {
    font-size: 3vmin ;
}



.social_icon_box_container {

    height: min(1.7rem,30px);  /* factor of 5 */
/*    width: calc(2.2rem * 5); */  /* no width, responsive to item count */

    border-top-left-radius: 20px;

    min-height: 36.58px ;
    

    /*/////////////////////////////*/

    position: fixed;
    bottom: 0;
    right: 0;

    background: rgb(22, 22, 22);
    mix-blend-mode: screen;

    /*/////////////////////////////*/

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-left: 0rem;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-right: 0px;



}

.social_icon_box_container:hover {
    background: rgb(40, 40, 40);
    transition: background 1s ease-in-out;

}


    .social_icon_box {
        height: 24px;
        width: 25px;
/*
        height: min(1.5rem, 33.39px);
        width: min(1.6rem, 35.02px);
*/

        border-radius: 50%;

        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        padding-top: 2px;
        margin: 0 10px;

        text-shadow: /* text border */
        -0.05em 0 var(--clr-socialborder),
        0.05em 0  var(--clr-socialborder),
        0 -0.05em var(--clr-socialborder),
        0 0.05em  var(--clr-socialborder);

        /* align text inside */
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgb(89, 89, 89);
        color: black;



    }

    .social_icon_box:hover {
        background: rgb(127, 127, 127);;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        transition: background var(--timing1) ease-in-out;

    }


}



.social_icon_box_container2 {

    height: min(1.7rem,30px);  /* factor of 5 */
/*    width: calc(2.2rem * 5); */  /* no width, responsive to item count */

    border-top-left-radius: 20px;

    min-height: 36.58px ;
    

    /*/////////////////////////////*/

    position: fixed;
    bottom: 0;
    right: 50%;

    background: rgb(22, 22, 22);
    mix-blend-mode: screen;

    /*/////////////////////////////*/

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-left: 0rem;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-right: 0px;



}