

:root {
    --clr-backgoundColor-black: hsl(0, 0%, 18%);
    /*--clr-backgoundColor-black: hsl(0, 81%, 40%); red */

    --clr-backgoundColor-black-hover: hsl(0, 0%, 60%); ;

/*    --clr-lightgrey-borders: hsl(0, 1%, 80%); /*disable*/ 
    --clr-lightgrey-border-needed: hsl(0, 1%, 80%);
    --clr-lightgrey-text: hsl(0, 0%, 85%);
    --clr-lightergrey-text: hsl(0, 0%, 95%);

    --clr--contact-background: hsla(0, 0%, 85%, 0.2);
    --clr--social-background: hsla(0, 0%, 85%, 0.1);

    --clr--contact-background-hover: hsla(0, 0%, 75%, 0.2);

    --timing1: 0.5s;
    --timing2: 5s;

    --clr-gradient1: #0014ff;
    --clr-gradient3: #e234c8;
    --clr-gradient2: #00ffc3;


    /*colors used in mobile card box as a border */
    --clr-gradient1-o: hsla(235, 100%, 50%, 0.100);
    --clr-gradient3-o: hsla(309, 75%, 55%, 0.100);
    --clr-gradient2-o: hsla(166, 100%, 50%, 0.100); 

    /* colors used in tablet box width increase background */
    --clr-gradient1-o2: hsla(235, 100%, 50%, 0.200);
    --clr-gradient3-o2: hsla(309, 75%, 55%, 0.200);
    --clr-gradient2-o2: hsla(166, 100%, 50%, 0.200);  

    --clr-socialborder:  rgb(89, 89, 89); /*152*/
    /*
    --clr-gradient1: hsl(230, 98%, 49%);
    --clr-gradient2: hsl(310, 100%, 50%);
    --clr-gradient3: hsl(149, 100%, 49%);
*/
    /* green theme */
    /*--clr-themeColor: rgb(255, 255, 255); */
 /*   --clr-themeColor: rgba(0, 255, 200, 0.975);
    --clr-themeColor-darker:  rgba(13, 157, 118, 0.975);
    --clr-themeColor-opacity:  rgba(0, 255, 190, 0.2);
*/

    /* blue theme */
/*    --clr-themeColor: rgba(14, 0, 165, 0.975);
    --clr-themeColor-darker:  rgba(13, 44, 157, 0.975);
    --clr-themeColor-opacity:  rgba(0, 8, 255, 0.2);
*/

    /* white theme */
  --clr-themeColor: rgba(245, 245, 245, 0.975);
    --clr-themeColor-darker:  rgba(200, 200, 200, 0.975);
    --clr-themeColor-opacity:  rgba(233, 233, 233, 0.2);


    --clr-link-color-hover:  rgba(255, 255, 255, 1); /* 0.2 opacity text-color makes effect*/


    --container-height: 95vh;
    --container-count: 4;

}

body {
    height: calc( var(--container-height) * var(--container-count) ) !important;
    background-color: var(--clr-backgoundColor-black);
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


}

*, *::before, *::after {
    box-sizing: border-box;
}



/* Mobile screen */
@media only screen and (max-width: 640px) {

    html {
        font-size: 3vmin ;
    }

    .container2 {

    /*    background: rgba(38, 38, 38, 0.234) url("../Container1/car_Chevrolet_Camaro_Z28_monochrome-26097.jpg"); */
    
    
        width:100vw;
        min-width: 300px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding: min(7vh,80px) 0;

        position: relative;
        perspective: 1000px;

    }


    /* background used in separate testing page */
    .container2_bg {
        background: 
        linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(41, 41, 43, 0.365) 10%,  rgba(41, 41, 43, 0.465) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        url("./apps.jpg");
        padding-top: min(17vh, 100px);

        background-repeat: no-repeat;
        background-size: contain;

    }


    /* blur background effect (between image and boxes)*/
    .container2_bg::after {

        position: absolute;
        content: " ";

        top:0;
        left: 0;
        height: 100%;
        width: 100%;

        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);

        z-index: 1;



    }
        /* the column space the card is margined in */
        .card_space {

            background: rgba(255, 0, 0, 0);
            width: 100%;
            height: 300px;

            position: relative;
            

        }


                /* the card border , refer to blur_gradient_hover in Gradient css file for style */
                .card_outer {

                    height: 22rem;
                    max-height: 230px;
                    min-height: 165px;

                    width: 22rem;
                    max-width: 230px;
                    min-width: 165px;
                    border-radius: 17px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                }

                    /* add more opacity related to the tablet query, property from Gradient_buttons.css*/
                    /* switch colors as the card will be flipped but on hover only so it can seem right position on hover out finish*/

                    .blur_gradient_hover:hover::before {
                        background-image: linear-gradient(to right, var(--clr-gradient1-o) , var(--clr-gradient2-o), var(--clr-gradient2-o)) !important;                
                    }
    
                    .blur_gradient_hover:hover::after {
                        background-image: linear-gradient(to right, var(--clr-gradient1-o) , var(--clr-gradient1-o), var(--clr-gradient2-o)) !important;                
    
                    }


                /* the card content space */
                .card_inner {

                    height: 95%;
                    width: 95%;
                    background: rgb(134, 134, 134);

                    border-radius: 12px;
                    box-shadow: 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;


                }

                        .text_card_front_2 {
                            color: rgb(228, 228, 228);
                            font-size: max(2rem,40.044px);
                            letter-spacing: 0.05em;
                            margin: 0;
                            font-weight: 600;
                            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.716);
                            position: absolute;
                            z-index: 4;
                            transition: opacity 0.25s ease-in;
                        }

                        .card_outer:hover > .text_card_front_2 {
                            opacity: 0;
                        }



                .vertical_line {
                    display: none;
                }
   

                /***************************************/


                /* styling */
                .card_inner__flip {

                    position: absolute; /* both absolute to the blur gradient*/
                    opacity: 1;     /* side 1 : card inner opacity 1 */
                    transition: opacity 0.6s ease-out;    /* delay in animation */

                  }


                  .card_content__flip {

                    position: absolute; /* both absolute to the blur gradient*/

                    width: 95%;
                    height: 95%;
                    border-radius: 12px;                    
                    background: rgba(134, 134, 134, 0.478);

                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    transform: rotateY(180deg);
                    opacity: 0;     /* side 1: not need to show it */

                    transition: opacity 0.5s step-start;    /* delay in animation reverse timing */
                    transition-delay: 0.2s;
                    mix-blend-mode: screen;

                  }

                  .card_content .Text_Card_Mob {
                    padding: 8px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 500;
                    font-size: min(1.5vmax, 12px);


                  }

                  .card_content .Text_Card {
                    display: none;
                  }

                  .Text_Link_Card {
                        background-color: white;
                        height: 12%;
                        width: 40%;
                        border-radius: 7px;
                        color: black;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-weight: 900;
                        font-size: min(1.5vmax, 12px);

                  }


                /* animation */
                .card_space__flip {
                    /*perspective: 1000px; put in container2 to make bg blur work*/
                }

                .blur_gradient_hover__flip {
                    position: relative;
                    
                    transition: transform 0.6s;
                    transform-style: preserve-3d;

                }

                .card_space__flip:hover .blur_gradient_hover__flip {
                    transform: translate(50%, -50%) rotateY(180deg);
                  }

                .card_space__flip:hover .card_content__flip {
                    opacity: 1;

                }
                .card_space__flip:hover .card_inner__flip {
                    opacity: 0;

                }


                .blur_mirror {
                    display: none;
                }

                .message_space_cont2 {

                    display: none;
        
                }

                .header_space_cont2 {
                    display: none;

                }
                .mirror_card {
                    display: none;

                }

}


/* Tablet Styles */ /* size from where can allow width space, till allow three boxes row space */
@media only screen and (min-width: 641px) and (max-width: 920px) {

    html {
        font-size: 3vmin ;
    }

    .container2 {

    /*    background: rgba(38, 38, 38, 0.234) url("../Container1/car_Chevrolet_Camaro_Z28_monochrome-26097.jpg"); */
    
    
        width:100vw;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding-top: min(6vh, 50px);

        position: relative;
        perspective: 1000px;

    }


    /* background used in separate testing page */
    .container2_bg {
        background: 
        linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(41, 41, 43, 0.365) 10%,  rgba(41, 41, 43, 0.465) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        url("./apps.jpg");
        padding-top: min(17vh, 100px);

        background-repeat: no-repeat;
        background-size: contain;

    }

   


    /* blur background effect (between image and boxes)*/
    .container2_bg::after {

        position: absolute;
        content: " ";

        top:0;
        left: 0;
        height: 100%;
        width: 100%;

        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);

        z-index: 1;



    }
        /* the column space the card is margined in */
        .card_space {

            background: rgba(255, 0, 0, 0);
            width: 100%;
            height: 300px;

            position: relative;


        }


                /* the card border , refer to blur_gradient_hover in Gradient css file for style */

                /* the card border , refer to blur_gradient_hover in Gradient css file for style */

                .card_outer {

                    height: 33vw;
                    max-height: 230px;

                    width: 228px;

                    border-radius: 17px;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;

                    position: relative;

                    padding: 5.7px;

                    transition: width 0.5s ease-out;
                }

                .card_outer:hover {
                    width: 90%;
                    max-width: 650px;


                }

                .text_card_front_2 {
                    font-size: max(2.5rem,40.044px);
                    
                    position: absolute;
                    top: 5%;
                    left: 0%;       
                    color: rgba(0,0,0,0);
                    transform: skew(0deg,0deg) translate(0%, 0%);
                    text-shadow: 0 0 3px rgba(0, 0, 0, 0);
                    z-index: 3;

                        transition: all .2s ease-out;
                    

                }

                
                .text_card_front_2::after {
                    content: attr(value);

                    position: absolute;
                    top: 15px;
                    left: 25px;
                    color: rgba(255,255,255,1);
                    transform: skew(0deg) scale(1,1);
                    text-shadow:
                    -1px -1px 1px #aaa,
                    -2px -2px 1px #999,
                    -3px -3px 1px #888,
                    -4px -4px 1px #777,
                    -5px -5px 1px #666,
                    -6px -6px 1px #555,
                    -7px -7px 5px rgba(20, 20, 20, 0.75);
                    z-index: 4;
                }


                .card_content:hover {
                    pointer-events: none;

                }
                .card_outer:hover > .text_card_front_2 {
                    transform: skew(63deg,-26.6deg) scale(1.4, 1.4);
                    text-shadow: 0 0 5px rgba(0, 0, 0, 0.167);
                    top: 10%;
                    left: -9%;

                }


                .card_outer:hover > .text_card_front_2::after {
                    transform: skew(-63deg) scale(1,.5);

                }


                .text_card_front_2:hover::afters {
                    color: rgba(255, 255, 255, 0.7);

                    text-shadow: 0 0 3px #63fdfe, 0 0 8px #fff;

                }


                
                /* add more opacity related to the tablet query, property from Gradient_buttons.css*/

                .blur_gradient_hover {
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

                }
                .blur_gradient_hover:hover::before {
                    background-image: linear-gradient(to right, var(--clr-gradient2-o2) , var(--clr-gradient2-o2), var(--clr-gradient2-o2), var(--clr-gradient1-o2));
                    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
                

                }

                .blur_gradient_hover:hover::after {
                    background-image: linear-gradient(to right, var(--clr-gradient2-o2) , var(--clr-gradient2-o2), var(--clr-gradient1-o2), var(--clr-gradient1-o2));                

                }

                .Text_Card_Mob {
                    display: none;
                }


                /* the card content space */
                .card_inner {

                    height: 100%;
                    width: 100%; /*works when on phone small box */
                    max-width: 214.63px; /* works when card_outer width increased */
                    background: rgba(174, 174, 174, 0.328);

                    border-radius: 12px;
                    box-shadow: 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;


                }

                        .text_card_front {
                            color: rgb(228, 228, 228);
                            font-size: min(5.5rem, 50px);
                            margin: 0;
                            font-weight: 600;
                            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.716);

                        }

                .vertical_line {
                    height: 100%;
                    border-left: 1px solid rgba(130, 130, 130, 0.5);
                    margin-left: 6.7px;
                    display: none;

                }

                .card_outer:hover > .vertical_line {
                    display: block;
                }
                
                .card_content {
                    
                    background: rgba(134, 134, 134, 0);

                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;

                    height: 100%;
                    width: 1px;
                    margin-left: 6.7px;

                    padding: 12px 0px;


/*                  transition: flex 1s linear; 
                    use if card outer always 90% width */

                    overflow-x: hidden;
                    white-space: nowrap; 
                    margin-left: -0.6px;
                    
                    
}

                .card_outer:hover > .card_content {
                    flex:1;
                    border: 1px solid rgba(130, 130, 130, 0.2);

                }
                .card_outer:hover > .vertical_line {
                    height: 100%;
                    border-left: 1px solid rgba(130, 130, 130,0.2);
                    margin-left: 6.7px;

                }
                        .Text_Card {
                            font-size: 13px;           
                            font-weight: 500; 
                            line-height: 1.5em;
                            
                            /* light lines button */
                            color: var(--clr-lightgrey-text);
                            align-self: center;

                            margin-left: 24px;
                        }

                        .Text_Link_Card  {

                            margin-left: 24px;

                            /*set if using light lines button*/
                                        
                            font-size: 12px;           
                            font-weight: 500; 
                            
                            /* light lines button */
                            color: var(--clr-lightgrey-text);
                            border: 1.2px solid var(--clr-lightgrey-border-needed);
                

                            height: min(2.7rem,30.45px);
                            width: min(10.7rem,120.69px);
                            text-align: center;

                            border-radius: min(0.9rem, 10px);

                            text-transform: uppercase;
                            letter-spacing: 0.1em;


                            color: white;

                            display: flex;
                            align-items: center;
                            justify-content: center;


                        }

                        .blur_mirror {
                            display: none;
                        }

                        .message_space_cont2 {

                            display: none;
                
                        }

                        .header_space_cont2 {
                            display: none;
    
                        }

                        .main_card {
                            width: 100vw;
                            height: 100%;
                        }
                        .mirror_card {
                            display: none;

                        }




}

/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* Desktop screen */

@media only screen and (min-width: 921px) and (max-width: 1500px){



        html {
            font-size: 3vmin ;
        }
    
        .container2 {
    
        /*    background: rgba(38, 38, 38, 0.234) url("../Container1/car_Chevrolet_Camaro_Z28_monochrome-26097.jpg"); */
        
        
            width:100vw;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
    
            position: relative;
            padding-top: min(10vh,100px);


        }


    
    
        /* background used in separate testing page */
        .container2_bg {
            background: 
            linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
            linear-gradient(to bottom, rgba(41, 41, 43, 0.365) 10%,  rgba(41, 41, 43, 0.465) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
            url("./apps.jpg");
    
            background-repeat: no-repeat;
            background-size: cover;



    
        }
    
    
        /* blur background effect (between image and boxes)*/
        .container2_bg::after {
    
            position: absolute;
            content: " ";
    
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
    
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(2px);
    
            z-index: 1;
    
        }


        .cards_space_cont2 {
            display: flex;
            flex-direction: row;
            gap: 100px;

        }





            /* the column space the card is margined in */
            .card_space {
    
                background: rgba(255, 0, 0, 0.0);
                border: 3px solid rgba(65, 125, 193, 0.0);
                width: 100%;
                height: 100%;
                margin: 100px 0 0 0;

                position: relative;
                
                /*
                mix-blend-mode: screen;
                z-index: 2;
                */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;




    
            }


    
    
                    /* the card border , refer to blur_gradient_hover in Gradient css file for style */
                    .card_outer {
    
                        height: 22rem;
                        max-height: 230px;
                        min-height: 165px;
    
                        width: 22rem;
                        max-width: 230px;
                        min-width: 165px;
                        border-radius: 17px;
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        position: relative;
    
                    }

/*
                    .blur_mirror3 {

                    }
                    .blur_mirror {


                        height: 230px;
                        width: 230px;

                        background: linear-gradient(to top, rgba(253, 253, 253, 0.1),  rgba(253, 253, 253, 0.05), rgba(253, 253, 253, 0.02) , rgba(253, 253, 253, 0.0) ,rgba(253, 253, 253, 0.0));
                        border: inset 1px solid rgba(130, 130, 130, 0.35);
                        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
                        border-radius: 50px;


                        position: absolute;
                        top: 65%;
                        z-index: 2;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                    
                        transform: perspective(100px) rotateX(250deg)  scale(1.35,0.35) ;
                        filter: blur(4px);
                    
                        opacity: 0.8;
                        transition: opacity 1s linear, transform 0.2s linear, border-radius 0.2s linear;

                    
                    }

                    .blur_mirror::before {
                        content: "";
                        position: absolute;

                        height: 100%;
                        width: 100%;
                        background-color: rgba(255, 2, 2, 0.002);
                        opacity: 1;
                        border-radius: 50px;

                        border-bottom: 5px solid rgba(0, 0, 0, 0.2);
                        border-top: 5px solid rgba(0, 0, 0, 0);


                    }


                    
                    .blur_mirror .text_card_front_2 {
                        opacity: 0.2;
                    }

                    .blur_mirror2 {
                        transform: perspective(100px) rotateX(250deg)  scale(1.4,0.45) ;

                    }

                    .card_outer:hover > .blur_mirror {
                        opacity: 1;
                        transform: perspective(100px) rotateX(250deg)  scale(1.35,0.35) ;
                        background: linear-gradient(to top, rgba(253, 253, 253, 0.1),  rgba(253, 253, 253, 0.05), rgba(253, 253, 253, 0.02) , rgba(253, 253, 253, 0.0) ,rgba(253, 253, 253, 0.0));

                    }

                    .card_outer:hover > .blur_mirror2 {
                        transform: perspective(100px) rotateX(250deg)  scale(1.4,0.45) ;

                    }

                    */
    
                        /* add more opacity related to the tablet query, property from Gradient_buttons.css*/
                        /* switch colors as the card will be flipped but on hover only so it can seem right position on hover out finish*/
    
                        .blur_gradient_hover:hover::before {
                            background-image: linear-gradient(to right, var(--clr-gradient1-o) , var(--clr-gradient2-o), var(--clr-gradient2-o)) !important;                
                        }
        
                        .blur_gradient_hover:hover::after {
                            background-image: linear-gradient(to right, var(--clr-gradient1-o) , var(--clr-gradient1-o), var(--clr-gradient2-o)) !important;                
        
                        }
    
    
                    /* the card content space */
                    .card_inner {
    
                        height: 95%;
                        width: 95%;
                        background: rgba(185, 185, 185, 0);

                        /*
                        background: rgb(0, 0, 0);
                        */

                        border-radius: 12px;
                        box-shadow: 0;
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
    
                    }


    
                            .text_card_front_2 {
                                color: rgb(228, 228, 228);
                                font-size: 40px;
                                letter-spacing: 0.05em;
                                margin: 0;
                                font-weight: 600;
                                text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.716);
                                position: absolute;
                                z-index: 4;
                                transition: opacity 0.25s ease-in;
                            }
    
/*                            .card_outer:hover > .text_card_front_2 {
                                opacity: 1;
                            }
*/    
    
    
                    .vertical_line {
                        display: none;
                    }
       
    
                    /***************************************/
    
    
                    /* animation styling */
                    /* front */
                    .card_inner__flip {
    

                      }
    
                    /* back text */
                      .card_content__flip {
    
                        position: absolute; /* both absolute to the blur gradient*/
    
                        width: 95%;
                        height: 95%;
                        border-radius: 12px;                    
                        background: rgba(134, 134, 134, 0.478);
    
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
    
                        transform: rotateY(0deg);
                        opacity: 0;     /* side 1: not need to show it */
    
                        transition: opacity 0.5s linear;    /* delay in animation reverse timing */
                        transition-delay: 0.2s;
                        mix-blend-mode: screen;
    
                      }
    
                      .card_content .Text_Card_Mob {
                        /*padding: 8px;
                        text-align: center;
                        font-size: 12px;
                        font-weight: 500;
                        font-size: min(1.5vmax, 12px);
                        position: absolute;
                        top:140%;
                        white-space: nowrap;
                        */
                        display: none;


                      }

                      /* these are the divs before and after the cards */
                      .message_space_cont2 {

                        margin: 170px 0 200px 0;
                        z-index: 2;
                        color: white;

                        text-align: center;
                        font-size: 12px;
                        font-weight: 500;
                        font-size: min(1.5vmax, 12px);
                        white-space: nowrap;

                    }

                    .header_space_cont2 {
                        margin: 100px 0 20px 0;
                        z-index: 2;
                        color: white;

                        text-align: center;
                        font-size: 30px;
                        font-weight: 500;
                        white-space: nowrap;
                    }
                    /* ///////////////////////////////////////////// */





                      .mirror_layout_text {



                      }



    
                      .card_content .Text_Card_Mob {
                      }

                      .card_content .Text_Card {
                        display: none;
                      }
    
                      .Text_Link_Card {
                            background-color: white;
                            height: 12%;
                            width: 40%;
                            border-radius: 7px;
                            color: black;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            font-weight: 900;
                            font-size: min(1.5vmax, 12px);

                            margin-top: 100px;
    
                      }
    
    
                    /* animation */
                    .card_space__flip {
                        /*perspective: 1000px; put in container2 to make bg blur work*/
                    }
    
                    .blur_gradient_hover__flip {
/*                        position: relative;
                        
                        transition: transform 0.6s;
                        transform-style: preserve-3d;
*/    
                    }
    
                    .card_space__flip:hover .blur_gradient_hover__flip {

                    }
    
                    /* the inner card on hover */
                    .card_space__flip:hover .card_content__flip {
                        opacity: 1;
    
                    }
                    .card_space__flip:hover .card_inner__flip {
                        opacity: 1;
    
                    }
    

                    /* translate in regards to blur_gradient_hover */
/*
                    .card_active {
                        transform: scale(1.3) translate(0%, 0%);
                    }

*/    
                        .main_card {

                        }

                        .mirror_card {


                            transform: perspective(200px) rotateX(225deg) scale(1.1,0.35);
                            z-index: 2;
                            opacity: 0.1;
                            pointer-events: none;
                            filter: blur(1px);
                            position: absolute;
                            top: 70%;


                        }

                        .message_space_cont2 {
                            transition: opacity 1s linear;
                        }


                        .cards_space_cont2 {
                            perspective: 2000px;
                            perspective-origin: 300px 100px;
                            z-index: 2;
                        }

                        /*////////////////////////////////////////////////////////////////////*/
                        /*////////////////////////////////////////////////////////////////////*/


                        .middle_card {
                            transition: all 0.3s linear;

                        }

                        .middle_card:hover {
                            transform: scale(1.3,1.3);
                            z-index: 2;
                        }

                        .left_card {

                            transform-style: preserve-3d;
                            transform: rotateY(-40deg) scale(0.9,0.9);
                            transition: all 0.3s linear;

                        }

                        .left_card:hover {
                            transform: rotateY(0deg) scale(1.3,1.3);
                        }


                        .left_card .mirror_card {
                            left: -40px;
                            transform: perspective(500px) rotateX(250deg) rotateY(0deg) scale(1.1,0.35);
                            transition: all 0.3s linear;


                        }

                        .left_card:hover > .mirror_card {
                            left: 0px;
                            transform: perspective(200px) rotateX(225deg) rotateY(0deg) scale(1.1,0.35);

                        }

                        /*////////////////////////////////////////////////////////////////////*/
                        .right_card {

                            transform-style: preserve-3d;
                            transform: rotateY(40deg) scale(0.9,0.9);
                            transition: all 0.3s linear;

                        }

                        .right_card:hover {
                            transform: rotateY(0deg) scale(1.3,1.3);
                        }


                        .right_card .mirror_card {
                            left: 40px;
                            transform: perspective(500px) rotateX(250deg) rotateY(0deg) scale(1.1,0.35);


                        }

                        .right_card:hover > .mirror_card {
                            left: 0px;
                            transform: perspective(200px) rotateX(225deg) rotateY(0deg) scale(1.1,0.35);

                        }
                        /*////////////////////////////////////////////////////////////////////*/
                        /*////////////////////////////////////////////////////////////////////*/
    

}

/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* widescreen */

@media only screen and (min-width: 1501px) {



        html {
            font-size: 3vmin ;
        }
    
        .container2 {
    
        /*    background: rgba(38, 38, 38, 0.234) url("../Container1/car_Chevrolet_Camaro_Z28_monochrome-26097.jpg"); */
        
        
            width:100vw;
            max-width: 1800px;
            margin: 0 auto;
            height: 1000px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
    
            position: relative;
            padding-top: 100px;


        }


    
    
        /* background used in separate testing page */
        .container2_bg {
            background: 
            linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
            linear-gradient(to bottom, rgba(41, 41, 43, 0.365) 10%,  rgba(41, 41, 43, 0.465) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
            url("./apps.jpg");
    
            background-repeat: no-repeat;
            background-size: cover;



    
        }
    
    
        /* blur background effect (between image and boxes)*/
        .container2_bg::after {
    
            position: absolute;
            content: " ";
    
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
    
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(2px);
    
            z-index: 1;
    
        }


        .cards_space_cont2 {
            display: flex;
            flex-direction: row;
            gap: 100px;
            width: 900px;
            min-height: 500px;


        }





            /* the column space the card is margined in */
            .card_space {
    
                background: rgba(255, 0, 0, 0.0);
                border: 3px solid rgba(65, 125, 193, 0.0);
                width: 100%;

                position: relative;
                
                /*
                mix-blend-mode: screen;
                z-index: 2;
                */
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;


    
            }


    
    
                    /* the card border , refer to blur_gradient_hover in Gradient css file for style */
                    .card_outer {
    
                        height: 22rem;
                        max-height: 230px;
                        min-height: 165px;
    
                        width: 22rem;
                        max-width: 230px;
                        min-width: 165px;
                        border-radius: 17px;
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        position: relative;
    
                    }

/*
                    .blur_mirror3 {

                    }
                    .blur_mirror {


                        height: 230px;
                        width: 230px;

                        background: linear-gradient(to top, rgba(253, 253, 253, 0.1),  rgba(253, 253, 253, 0.05), rgba(253, 253, 253, 0.02) , rgba(253, 253, 253, 0.0) ,rgba(253, 253, 253, 0.0));
                        border: inset 1px solid rgba(130, 130, 130, 0.35);
                        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
                        border-radius: 50px;


                        position: absolute;
                        top: 65%;
                        z-index: 2;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                    
                        transform: perspective(100px) rotateX(250deg)  scale(1.35,0.35) ;
                        filter: blur(4px);
                    
                        opacity: 0.8;
                        transition: opacity 1s linear, transform 0.2s linear, border-radius 0.2s linear;

                    
                    }

                    .blur_mirror::before {
                        content: "";
                        position: absolute;

                        height: 100%;
                        width: 100%;
                        background-color: rgba(255, 2, 2, 0.002);
                        opacity: 1;
                        border-radius: 50px;

                        border-bottom: 5px solid rgba(0, 0, 0, 0.2);
                        border-top: 5px solid rgba(0, 0, 0, 0);


                    }


                    
                    .blur_mirror .text_card_front_2 {
                        opacity: 0.2;
                    }

                    .blur_mirror2 {
                        transform: perspective(100px) rotateX(250deg)  scale(1.4,0.45) ;

                    }

                    .card_outer:hover > .blur_mirror {
                        opacity: 1;
                        transform: perspective(100px) rotateX(250deg)  scale(1.35,0.35) ;
                        background: linear-gradient(to top, rgba(253, 253, 253, 0.1),  rgba(253, 253, 253, 0.05), rgba(253, 253, 253, 0.02) , rgba(253, 253, 253, 0.0) ,rgba(253, 253, 253, 0.0));

                    }

                    .card_outer:hover > .blur_mirror2 {
                        transform: perspective(100px) rotateX(250deg)  scale(1.4,0.45) ;

                    }

                    */
    
                        /* add more opacity related to the tablet query, property from Gradient_buttons.css*/
                        /* switch colors as the card will be flipped but on hover only so it can seem right position on hover out finish*/
    
                        .blur_gradient_hover:hover::before {
                            background-image: linear-gradient(to right, var(--clr-gradient1-o) , var(--clr-gradient2-o), var(--clr-gradient2-o)) !important;                
                        }
        
                        .blur_gradient_hover:hover::after {
                            background-image: linear-gradient(to right, var(--clr-gradient1-o) , var(--clr-gradient1-o), var(--clr-gradient2-o)) !important;                
        
                        }
    
    
                    /* the card content space */
                    .card_inner {
    
                        height: 95%;
                        width: 95%;
                        background: rgba(185, 185, 185, 0);

                        /*
                        background: rgb(0, 0, 0);
                        */

                        border-radius: 12px;
                        box-shadow: 0;
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
    
                    }


    
                            .text_card_front_2 {
                                color: rgb(228, 228, 228);
                                font-size: 40px;
                                letter-spacing: 0.05em;
                                margin: 0;
                                font-weight: 600;
                                text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.716);
                                position: absolute;
                                z-index: 4;
                                transition: opacity 0.25s ease-in;
                            }
    
/*                            .card_outer:hover > .text_card_front_2 {
                                opacity: 1;
                            }
*/    
    
    
                    .vertical_line {
                        display: none;
                    }
       
    
                    /***************************************/
    
    
                    /* animation styling */
                    /* front */
                    .card_inner__flip {
    

                      }
    
                    /* back text */
                      .card_content__flip {
    
                        position: absolute; /* both absolute to the blur gradient*/
    
                        width: 95%;
                        height: 95%;
                        border-radius: 12px;                    
                        background: rgba(134, 134, 134, 0.478);
    
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
    
                        transform: rotateY(0deg);
                        opacity: 0;     /* side 1: not need to show it */
    
                        transition: opacity 0.5s linear;    /* delay in animation reverse timing */
                        transition-delay: 0.2s;
                        mix-blend-mode: screen;
    
                      }
    
                      .card_content .Text_Card_Mob {
                        /*padding: 8px;
                        text-align: center;
                        font-size: 12px;
                        font-weight: 500;
                        font-size: min(1.5vmax, 12px);
                        position: absolute;
                        top:140%;
                        white-space: nowrap;
                        */
                        display: none;


                      }

                      /* these are the divs before and after the cards */
                      .message_space_cont2 {
                        margin: 50px 0 0px 0;

                        z-index: 2;
                        color: white;

                        text-align: center;
                        font-size: 12px;
                        font-weight: 500;
                        font-size: min(1.5vmax, 12px);
                        white-space: nowrap;

                    }

                    .header_space_cont2 {
                        z-index: 2;
                        color: white;

                        text-align: center;
                        font-size: 30px;
                        font-weight: 500;
                        white-space: nowrap;
                    }
                    /* ///////////////////////////////////////////// */





                      .mirror_layout_text {



                      }



    
                      .card_content .Text_Card_Mob {
                      }

                      .card_content .Text_Card {
                        display: none;
                      }
    
                      .Text_Link_Card {
                            background-color: white;
                            height: 12%;
                            width: 40%;
                            border-radius: 7px;
                            color: black;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            font-weight: 900;
                            font-size: min(1.5vmax, 12px);

                            margin-top: 100px;
    
                      }
    
    
                    /* animation */
                    .card_space__flip {
                        /*perspective: 1000px; put in container2 to make bg blur work*/
                    }
    
                    .blur_gradient_hover__flip {
/*                        position: relative;
                        
                        transition: transform 0.6s;
                        transform-style: preserve-3d;
*/    
                    }
    
                    .card_space__flip:hover .blur_gradient_hover__flip {

                    }
    
                    /* the inner card on hover */
                    .card_space__flip:hover .card_content__flip {
                        opacity: 1;
    
                    }
                    .card_space__flip:hover .card_inner__flip {
                        opacity: 1;
    
                    }
    

                    /* translate in regards to blur_gradient_hover */
/*
                    .card_active {
                        transform: scale(1.3) translate(0%, 0%);
                    }

*/    
                        .main_card {

                        }

                        .mirror_card {


                            transform: perspective(200px) rotateX(225deg) scale(1.1,0.35);
                            z-index: 2;
                            opacity: 0.1;
                            pointer-events: none;
                            filter: blur(1px);
                            position: absolute;
                            top: 80%;


                        }

                        .message_space_cont2 {
                            transition: opacity 1s linear;
                        }


                        .cards_space_cont2 {
                            perspective: 2000px;
                            perspective-origin: 300px 100px;
                            z-index: 2;
                        }

                        /*////////////////////////////////////////////////////////////////////*/
                        /*////////////////////////////////////////////////////////////////////*/


                        .middle_card {
                            transition: all 0.3s linear;

                        }

                        .middle_card:hover {
                            transform: scale(1.3,1.3);
                            z-index: 2;
                        }

                        /*////////////////////////////////////////////////////////////////////*/
                        .left_card {

                            transform-style: preserve-3d;
                            transform: rotateY(-40deg) scale(0.9,0.9);
                            transition: all 0.3s linear;

                        }

                        .left_card:hover {
                            transform: rotateY(0deg) scale(1.3,1.3);
                        }


                        .left_card .mirror_card {
                            left: 80px;
                            transform: perspective(250px) rotateX(250deg) rotateY(0deg)  scale(1.1,0.35);
                            transition: all 0.3s linear;


                        }

                        .left_card:hover > .mirror_card {
                            left: 115px;
                            transform: perspective(200px) rotateX(225deg) rotateY(0deg) scale(1.1,0.35);

                        }

                        /*////////////////////////////////////////////////////////////////////*/
                        .right_card {

                            transform-style: preserve-3d;
                            transform: rotateY(40deg) scale(0.9,0.9);
                            transition: all 0.3s linear;

                        }

                        .right_card:hover {
                            transform: rotateY(0deg) scale(1.3,1.3);
                        }


                        .right_card .mirror_card {
                            left: 180px;
                            transform: perspective(500px) rotateX(250deg) rotateY(0deg) scale(1.1,0.35);


                        }

                        .right_card:hover > .mirror_card {
                            left: 115px;
                            transform: perspective(200px) rotateX(225deg) rotateY(0deg) scale(1.1,0.35);

                        }
                        /*////////////////////////////////////////////////////////////////////*/
                        /*////////////////////////////////////////////////////////////////////*/
    

}

.container2_test {
    

/*
    linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
    linear-gradient(to top, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
    rgba(41,41,43,255);
        add for top continuation with container1 */

    

    height: 95vh;
    max-width: 1800px;
    margin:0 auto;

    display: flex;
    flex-direction: row;
}
          

/* changes the cursor shape on selected links */
.cursor_pointer {
    cursor: pointer;

}


            .header_Text_Link:hover {


/*                background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient2));
*/                /* remove for white text, remove i used it for some reason but its not necessary */

                /* style : filled color icon */
/*                
                color: black;
                background-color: var(--clr-themeColor);
                font-weight: 400;
                border: 0.1em solid var(--clr-themeColor);
                

                /* style : gradient color on hover */ /*
                color: white;
                background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient1), var(--clr-gradient2));
                font-weight: 300;
                border: none;
*/

                /* style : enlightened icon */
/*                
                text-shadow: 0px 0px 10px white;
                color:white;
                background-color: var(--clr-themeColor-opacity);
                border: 0.1em solid var(--clr-themeColor-darker);
                box-shadow: 0px 0px 1px var(--clr-themeColor-darker), inset 0px 0px 5px var(--clr-themeColor-darker);
                filter: blur(0.3px);
*/                
                /*background-color: var(--clr--contact-background-hover);*/


            }