

:root {
    --clr-backgoundColor-black: hsl(0, 0%, 18%);
    /*--clr-backgoundColor-black: hsl(0, 81%, 40%); red */

    --clr-backgoundColor-black-hover: hsl(0, 0%, 60%); ;

/*    --clr-lightgrey-borders: hsl(0, 1%, 80%); /*disable*/ 
    --clr-lightgrey-border-needed: hsl(0, 1%, 80%);
    --clr-lightgrey-text: hsl(0, 0%, 85%);
    --clr-lightergrey-text: hsl(0, 0%, 95%);

    --clr--contact-background: hsla(0, 0%, 85%, 0.2);
    --clr--social-background: hsla(0, 0%, 85%, 0.1);

    --clr--contact-background-hover: hsla(0, 0%, 75%, 0.2);

    --timing1: 0.5s;
    --timing2: 5s;

    --clr-gradient1: #0014ff;
    --clr-gradient3: #e234c8;
    --clr-gradient2: #00ffc3;


    /*colors used in mobile card box as a border */
    --clr-gradient1-o: hsla(235, 100%, 50%, 0.100);
    --clr-gradient3-o: hsla(309, 75%, 55%, 0.100);
    --clr-gradient2-o: hsla(166, 100%, 50%, 0.100); 

    /* colors used in tablet box width increase background */
    --clr-gradient1-o2: hsla(235, 100%, 50%, 0.200);
    --clr-gradient3-o2: hsla(309, 75%, 55%, 0.200);
    --clr-gradient2-o2: hsla(166, 100%, 50%, 0.200);  

    --clr-socialborder:  rgb(89, 89, 89); /*152*/
    /*
    --clr-gradient1: hsl(230, 98%, 49%);
    --clr-gradient2: hsl(310, 100%, 50%);
    --clr-gradient3: hsl(149, 100%, 49%);
*/
    /* green theme */
    /*--clr-themeColor: rgb(255, 255, 255); */
 /*   --clr-themeColor: rgba(0, 255, 200, 0.975);
    --clr-themeColor-darker:  rgba(13, 157, 118, 0.975);
    --clr-themeColor-opacity:  rgba(0, 255, 190, 0.2);
*/

    /* blue theme */
/*    --clr-themeColor: rgba(14, 0, 165, 0.975);
    --clr-themeColor-darker:  rgba(13, 44, 157, 0.975);
    --clr-themeColor-opacity:  rgba(0, 8, 255, 0.2);
*/

    /* white theme */
  --clr-themeColor: rgba(245, 245, 245, 0.975);
    --clr-themeColor-darker:  rgba(200, 200, 200, 0.975);
    --clr-themeColor-opacity:  rgba(233, 233, 233, 0.2);


    --clr-link-color-hover:  rgba(255, 255, 255, 1); /* 0.2 opacity text-color makes effect*/


    --container-height: 95vh;
    --container-count: 4;

}

body {
    height: calc( var(--container-height) * var(--container-count) ) !important;
    background-color: var(--clr-backgoundColor-black);
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";



}

*, *::before, *::after {
    box-sizing: border-box;
}



/* Mobile screen */
@media only screen and (max-width: 640px) {

    html {
        font-size: 3vmin ;
    }

    .container2 {

    /*    background: rgba(38, 38, 38, 0.234) url("../Container1/car_Chevrolet_Camaro_Z28_monochrome-26097.jpg"); */
    
    
        width:100vw;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding-top: min(6vh, 50px);

        position: relative;

    }


    /* background used in separate testing page */
    .container2_bg {
        background: 
        linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(41, 41, 43, 0.365) 10%,  rgba(41, 41, 43, 0.465) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        url("./apps.jpg");
        padding-top: min(17vh, 100px);

        background-repeat: no-repeat;
        background-size: contain;

    }


    /* blur background effect (between image and boxes)*/
    .container2_bg::after {

        position: absolute;
        content: " ";

        top:0;
        left: 0;
        height: 100%;
        width: 100%;

        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);

        z-index: 1;



    }
        /* the column space the card is margined in */
        .card_space {

            background: rgba(255, 0, 0, 0);
            width: 100%;
            height: 300px;

            position: relative;

        }


                /* the card border , refer to blur_gradient_hover in Gradient css file for style */
                .card_outer {

                    height: 22rem;
                    max-height: 230px;

                    width: 22rem;
                    max-width: 230px;
                    border-radius: 17px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;

                    

                }


                /* the card content space */
                .card_inner {

                    height: 95%;
                    width: 95%;
                    background: rgb(134, 134, 134);

                    border-radius: 12px;
                    box-shadow: 0;


                }


                .vertical_line, .card_content {
                    display: none;
                }
   





}


/* Tablet Styles */ /* size from where can allow width space, till allow three boxes row space */
@media only screen and (min-width: 641px) and (max-width: 920px) {

    html {
        font-size: 3vmin ;
    }

    .container2 {

    /*    background: rgba(38, 38, 38, 0.234) url("../Container1/car_Chevrolet_Camaro_Z28_monochrome-26097.jpg"); */
    
    
        width:100vw;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding-top: min(6vh, 50px);

        position: relative;

    }


    /* background used in separate testing page */
    .container2_bg {
        background: 
        linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(41, 41, 43, 0.365) 10%,  rgba(41, 41, 43, 0.465) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        url("./apps.jpg");
        padding-top: min(17vh, 100px);

        background-repeat: no-repeat;
        background-size: contain;

    }


    /* blur background effect (between image and boxes)*/
    .container2_bg::after {

        position: absolute;
        content: " ";

        top:0;
        left: 0;
        height: 100%;
        width: 100%;

        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);

        z-index: 1;



    }
        /* the column space the card is margined in */
        .card_space {

            background: rgba(255, 0, 0, 0);
            width: 100%;
            height: 300px;

            position: relative;

        }


                /* the card border , refer to blur_gradient_hover in Gradient css file for style */

                /* the card border , refer to blur_gradient_hover in Gradient css file for style */

                .card_outer {

                    height: 33vw;
                    max-height: 230px;

                    width: 228px;

                    border-radius: 17px;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;

                    position: relative;

                    padding: 5.7px;

                    transition: width 0.5s ease-out;

                }

                .card_outer:hover {
                    width: 90%;


                }


                
                /* add more opacity related to the tablet query, property from Gradient_buttons.css*/

                .blur_gradient_hover {
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

                }
                .blur_gradient_hover:hover::before {
                    background-image: linear-gradient(to right, var(--clr-gradient2-o2) , var(--clr-gradient2-o2), var(--clr-gradient2-o2), var(--clr-gradient1-o2));
                    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
                

                }

                .blur_gradient_hover:hover::after {
                    background-image: linear-gradient(to right, var(--clr-gradient2-o2) , var(--clr-gradient2-o2), var(--clr-gradient1-o2), var(--clr-gradient1-o2));                

                }


                /* the card content space */
                .card_inner {

                    height: 100%;
                    width: 100%; /*works when on phone small box */
                    max-width: 214.63px; /* works when card_outer width increased */
                    background: rgb(134, 134, 134);

                    border-radius: 12px;
                    box-shadow: 0;

                }

                .vertical_line {
                    height: 100%;
                    border-left: 1px solid rgba(130, 130, 130, 0.5);
                    margin-left: 6.7px;
                    display: none;

                }

                .card_outer:hover > .vertical_line {
                    display: block;
                }
                
                .card_content {
                    
                    background: rgba(134, 134, 134, 0);

                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;

                    height: 100%;
                    width: 1px;
                    margin-left: 6.7px;

                    padding: 12px 0px;


/*                  transition: flex 1s linear; 
                    use if card outer always 90% width */

                    overflow-x: hidden;
                    white-space: nowrap; 
                    margin-left: -0.6px;
                    
                    
}

                .card_outer:hover > .card_content {
                    flex:1;
                    border: 1px solid rgba(130, 130, 130, 0.2);

                }
                .card_outer:hover > .vertical_line {
                    height: 100%;
                    border-left: 1px solid rgba(130, 130, 130,0.2);
                    margin-left: 6.7px;

                }
                        .Text_Card {
                            font-size: 13px;           
                            font-weight: 500; 
                            line-height: 1.5em;
                            
                            /* light lines button */
                            color: var(--clr-lightgrey-text);
                            align-self: center;

                            margin-left: 24px;
                        }

                        .Text_Link_Card  {

                            margin-left: 24px;

                            /*set if using light lines button*/
                                        
                            font-size: 12px;           
                            font-weight: 500; 
                            
                            /* light lines button */
                            color: var(--clr-lightgrey-text);
                            border: 1.2px solid var(--clr-lightgrey-border-needed);
                

                            height: min(2.7rem,30.45px);
                            width: min(10.7rem,120.69px);
                            text-align: center;

                            border-radius: min(0.9rem, 10px);

                            text-transform: uppercase;
                            letter-spacing: 0.1em;


                            color: white;

                            display: flex;
                            align-items: center;
                            justify-content: center;


                        }

}

/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* Desktop screen */

@media only screen and (min-width: 801px) and (max-width: 1500px){


    html {
        font-size: 3vmin ;
    }

}

/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* widescreen */

@media only screen and (min-width: 1501px) {



    html {
        font-size: 3vmin ;
    }

}

.container2_test {
    

/*
    linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
    linear-gradient(to top, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
    rgba(41,41,43,255);
        add for top continuation with container1 */

    

    height: 95vh;
    max-width: 1800px;
    margin:0 auto;

    display: flex;
    flex-direction: row;
}
          

/* changes the cursor shape on selected links */
.cursor_pointer {
    cursor: pointer;

}


            .header_Text_Link:hover {


/*                background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient2));
*/                /* remove for white text, remove i used it for some reason but its not necessary */

                /* style : filled color icon */
/*                
                color: black;
                background-color: var(--clr-themeColor);
                font-weight: 400;
                border: 0.1em solid var(--clr-themeColor);
                

                /* style : gradient color on hover */ /*
                color: white;
                background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient1), var(--clr-gradient2));
                font-weight: 300;
                border: none;
*/

                /* style : enlightened icon */
/*                
                text-shadow: 0px 0px 10px white;
                color:white;
                background-color: var(--clr-themeColor-opacity);
                border: 0.1em solid var(--clr-themeColor-darker);
                box-shadow: 0px 0px 1px var(--clr-themeColor-darker), inset 0px 0px 5px var(--clr-themeColor-darker);
                filter: blur(0.3px);
*/                
                /*background-color: var(--clr--contact-background-hover);*/


            }