
body {
    height: 200vh;
    background-color: purple;

}

*, *::before, *::after {
    box-sizing: border-box;
}



/* Mobile screen */
@media only screen and (max-width: 400px) {

    ::root {
    }


    body {
      
        
    
    }


    .header1 {


        max-width: 100vw;
        height: 15vh;


        border-bottom: 0.1em solid grey;

        margin: auto;
        display: flex;

        /* scrolling navigation with shadow */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) ,rgba(0, 0, 0, 0));
        /*//////////////////////////////////*/



    }



  }
