

:root {
    --clr-backgoundColor-black: hsl(0, 0%, 18%);
    /*--clr-backgoundColor-black: hsl(0, 81%, 40%); red */

    --clr-backgoundColor-black-hover: hsl(0, 0%, 60%); ;

/*    --clr-lightgrey-borders: hsl(0, 1%, 80%); /*disable*/ 
    --clr-lightgrey-border-needed: hsl(0, 1%, 80%);
    --clr-lightgrey-text: hsl(0, 0%, 85%);
    --clr-lightergrey-text: hsl(0, 0%, 95%);

    --clr--contact-background: hsla(0, 0%, 85%, 0.2);
    --clr--social-background: hsla(0, 0%, 85%, 0.1);

    --clr--contact-background-hover: hsla(0, 0%, 75%, 0.2);

    --timing1: 0.5s;
    --timing2: 5s;

    --clr-gradient1: #0014ff;
    --clr-gradient3: #e234c8;
    --clr-gradient2: #00ffc3;

    --clr-socialborder:  rgb(89, 89, 89); /*152*/
    /*
    --clr-gradient1: hsl(230, 98%, 49%);
    --clr-gradient2: hsl(310, 100%, 50%);
    --clr-gradient3: hsl(149, 100%, 49%);
*/
    /* green theme */
    /*--clr-themeColor: rgb(255, 255, 255); */
 /*   --clr-themeColor: rgba(0, 255, 200, 0.975);
    --clr-themeColor-darker:  rgba(13, 157, 118, 0.975);
    --clr-themeColor-opacity:  rgba(0, 255, 190, 0.2);
*/

    /* blue theme */
/*    --clr-themeColor: rgba(14, 0, 165, 0.975);
    --clr-themeColor-darker:  rgba(13, 44, 157, 0.975);
    --clr-themeColor-opacity:  rgba(0, 8, 255, 0.2);
*/

    /* white theme */
  --clr-themeColor: rgba(245, 245, 245, 0.975);
    --clr-themeColor-darker:  rgba(200, 200, 200, 0.975);
    --clr-themeColor-opacity:  rgba(233, 233, 233, 0.2);


    --clr-link-color-hover:  rgba(255, 255, 255, 1); /* 0.2 opacity text-color makes effect*/


    --container-height: 95vh;
    --container-count: 4;

}

body {
    height: calc( var(--container-height) * var(--container-count) ) !important;
    background-color: var(--clr-backgoundColor-black);
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";



}

*, *::before, *::after {
    box-sizing: border-box;
}



/* Mobile screen */
@media only screen and (max-width: 470px) {

    html {
        font-size: 3vmin ;
    }

    .container1 {
        /* background gradient overlay */    
        background: 
        linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        
        url("./car_Chevrolet_Camaro_Z28_monochrome-26097.jpg");

        /*        linear-gradient(to bottom, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        add for bottom continuation */

        height: 95vh;

        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
    }

    .container1_space1, .container1_space2 {
        background: rgba(206, 0, 0, 0);
        height: 100%;
        width: 10%;

    }

        /*///////////////////////////////*/
        /*///////////////////////////////*/
        .container1_content {
            background: rgba(0, 0, 0, 0);
            height: 100%;

            flex:1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


            .content_space1, .content_space2 {
                background: rgba(166, 0, 255, 0);
                width: 100%;
                flex: 1;

            }
            
            .content_space2 {
                flex: 1;

            }

            .content_container {
                width: 100%;
                background: transparent;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

                /*///////////////////////////////*/
                .text_space {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                }

                        .text_space .header_text_line_1 {
                            color: var(--clr-lightgrey-text);
                            font-size: min(2.25rem,25.38px);
                            word-spacing: 0.05em;
                            text-transform: uppercase;
                            font-weight: 100;

                            text-align: center;

                            margin: min(1rem,11.28px) 0 min(0.2rem,2.256px) 0;


                        }

                        .text_space .header_text_line_2 {
                            color: var(--clr-themeColor);

                            font-size: min(3.55rem,40.044px);
                            word-spacing: 0.05em;
                            text-transform: uppercase;
                            font-weight: 500;

                            text-align: center;

                            margin: 0 0 min(2rem,22.56px) 0;

                        }

                        .text_space .header_text_line_3 {
                            color: var(--clr-lightgrey-text);
                            font-size: min(1.15rem,12.97px);
                            font-weight: 200;
                            word-spacing: 0.05em;

                            text-align: center;

                            margin: 0 0 min(2rem,22.56px) 0;

                        }

                .button_space {

                    flex: 1;
                    width: 100%;

                    display: flex;
                    justify-content: center;


                }

                .header_Text_Link  {

                    /*set if using light lines button*/
                                
                    font-size: min(1.1rem,12.4px);           
                    font-weight: 400; 
                    
                    /* light lines button */
                    color: var(--clr-lightgrey-text);
                    border: 1.2px solid var(--clr-lightgrey-border-needed);
        

                    height: min(2.7rem,30.45px);
                    width: min(10.7rem,120.69px);
                    text-align: center;

                    border-radius: min(0.9rem, 10px);

                    text-transform: uppercase;
                    letter-spacing: 0.1em;


                    color: white;

                    display: flex;
                    align-items: center;
                    justify-content: center;


                }

                    .header_Text_Link p {

                    } 




        /*///////////////////////////////*/


}


/* Tablet Styles */
@media only screen and (min-width: 471px) and (max-width: 800px) {

    html {
        font-size: 3vmin ;
    }

    .container1 {

        /* background gradient overlay */    
        background: 
        linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        
        url("./car_Chevrolet_Camaro_Z28_monochrome-26097.jpg");

        /*        linear-gradient(to bottom, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        add for bottom continuation */

        height: 95vh;

        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: row;
    }

    .container1_space1, .container1_space2 {
        background: rgba(55, 255, 0, 0);
        height: 100%;
        width: 10%;

    }

        /*///////////////////////////////*/
        /*///////////////////////////////*/
        .container1_content {
            background: rgba(0, 0, 0, 0);
            height: 100%;

            flex:1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


            .content_space1, .content_space2 {
                background: rgba(166, 0, 255, 0);
                width: 100%;
                flex: 1;

            }
            
            .content_space2 {
                flex: 1;

            }

            .content_container {
                width: 100%;
                background: transparent;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

                /*///////////////////////////////*/
                .text_space {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                }

                        .text_space .header_text_line_1 {
                            color: var(--clr-lightgrey-text);
                            font-size: min(2.25rem,25.38px);
                            word-spacing: 0.05em;
                            text-transform: uppercase;
                            font-weight: 100;

                            text-align: center;

                            margin: min(1rem,11.28px) 0 min(0.2rem,2.256px) 0;


                        }

                        .text_space .header_text_line_2 {
                            color: var(--clr-themeColor);

                            font-size: min(3.55rem,40.044px);
                            word-spacing: 0.05em;
                            text-transform: uppercase;
                            font-weight: 500;

                            text-align: center;

                            margin: 0 0 min(2rem,22.56px) 0;

                        }

                        .text_space .header_text_line_3 {
                            color: var(--clr-lightgrey-text);
                            font-size: min(1.15rem,12.97px);
                            font-weight: 200;
                            word-spacing: 0.05em;

                            text-align: center;

                            margin: 0 0 min(2rem,22.56px) 0;

                        }

                .button_space {

                    flex: 1;
                    width: 100%;

                    display: flex;
                    justify-content: center;


                }

                .header_Text_Link  {

                    /*set if using light lines button*/
                                
                    font-size: min(1.1rem,12.4px);           
                    font-weight: 400; 
                    
                    /* light lines button */
                    color: var(--clr-lightgrey-text);
                    border: 1.2px solid var(--clr-lightgrey-border-needed);
        

                    height: min(2.7rem,30.45px);
                    width: min(10.7rem,120.69px);
                    text-align: center;

                    border-radius: min(0.9rem, 10px);

                    text-transform: uppercase;
                    letter-spacing: 0.1em;


                    color: white;

                    display: flex;
                    align-items: center;
                    justify-content: center;


                }

                    .header_Text_Link p {

                    } 


}

/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* Desktop screen */
@media only screen and (min-width: 801px) and (max-width: 1500px){


    html {
        font-size: 3vmin ;
    }

    .container1 {

        /* background gradient overlay */    
        background: 
        linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        
        url("./car_Chevrolet_Camaro_Z28_monochrome-26097.jpg");

        /*        linear-gradient(to bottom, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        add for bottom continuation */


        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        height: 120vh;
        min-height: 600px;

        display: flex;
        flex-direction: row;
    }

    .container1_space1, .container1_space2 {
        background: rgba(255, 0, 0, 0);
        height: 100%;
        width: 10%;

    }

        /*///////////////////////////////*/
        /*///////////////////////////////*/
        .container1_content {
            background: rgba(0, 0, 0, 0);
            height: 100%;

            flex:1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


            .content_space1, .content_space2 {
                background: rgba(166, 0, 255, 0);
                width: 100%;
                flex: 1;

            }
            
            .content_space1 {
                flex: 1;
                min-height: min(17vh, 92px);
                

            }

            .content_container {
                width: 100%;
                background: transparent;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

                /*///////////////////////////////*/
                .text_space {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                }

                        .text_space .header_text_line_1 {
                            color: var(--clr-lightgrey-text);
                            font-size: min(2.25vmax,25px);
                            word-spacing: 0.05em;
                            text-transform: uppercase;
                            font-weight: 100;

                            text-align: center;

                            margin: min(1rem,11.28px) 0 min(0.0rem,2.256px) 0;


                        }

                        .text_space .header_text_line_2 {
                            color: var(--clr-themeColor);

                            font-size: min(3.55vmax,40px);
                            word-spacing: 0.05em;
                            text-transform: uppercase;
                            font-weight: 500;

                            text-align: center;

                            margin: 0 0 min(2rem,22.56px) 0;

                        }

                        .text_space .header_text_line_3 {
                            color: var(--clr-lightgrey-text);
                            font-size: 13px; /* calc(5px + (7vw/12));*/
                            font-weight: 200;
                            word-spacing: 0.05em;

                            align-self: flex-start; /**/

                            margin: 0 0 min(2rem,22.56px) 0;

                            padding-right: 60%;

                        }

                .button_space {

                    flex: 1;
                    width: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;


                }

                .header_Text_Link  {

                    /*set if using light lines button*/
                                
                    /*font-size: max(12.36px,1.5vmin);          */ 
                    
                    /* light lines button */

        

            /*      height: min(1.5rem, 32px);
                    width: min(6rem, 130px);
                    min-height: 31.3px;
                    min-width: 133.58px; */







                    display: flex;
                    align-items: center;
                    justify-content: center;






                    font-size: 12px;
                    font-weight: 700;

                    color: var(--clr-lightgrey-text);
                    border: 1.2px solid var(--clr-lightgrey-border-needed);
                    border-radius: 10px;

                    height: 30px; /**/
                    width: 120px; /**/

                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    text-align: center;



                }

                    .header_Text_Link p {

                    } 

                    

}

/*////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
/* widescreen */
@media only screen and (min-width: 1501px) {



    html {
        font-size: 3vmin ;
    }

    .container1 {

                
        /* background gradient overlay */    
        background: 
        linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        
        url("./car_Chevrolet_Camaro_Z28_monochrome-26097.jpg");

        /*        linear-gradient(to bottom, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
        add for bottom continuation */

/*        background:  rgba(0, 0, 0, 0.1) url("./car_Chevrolet_Camaro_Z28_monochrome-26097.jpg");
        background-blend-mode:overlay;
*/    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 95vh;
        max-height: 1200px;
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;

        display: flex;
        flex-direction: row;

        /*background-opacity*/
        /*box-shadow: inset 0 0 0 50vw rgba(0,0,0,0.5);*/
        /* optional background-blend-mode: multiply; will multiply colors*/
        /*background: url no-repeat center center / cover */


    }

    .container1_space1, .container1_space2 {
        background: rgba(255, 0, 0, 0);
        height: 100%;
        width: 10%;

    }

        /*///////////////////////////////*/
        /*///////////////////////////////*/
        .container1_content {
            background: rgba(0, 0, 0, 0);
            height: 100%;

            flex:1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


            .content_space1, .content_space2 {
                background: rgba(166, 0, 255, 0);
                width: 100%;
                flex: 1;

            }
            
            .content_space1 {
                flex: 1;
                min-height: min(17vh, 92px);
                

            }

            .content_container {
                width: 100%;
                background: transparent;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

                /*///////////////////////////////*/
                .text_space {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                }

                        .text_space .header_text_line_1 {
                            color: var(--clr-lightgrey-text);
                            font-size: min(2.25vmax,25px);
                            word-spacing: 0.05em;
                            text-transform: uppercase;
                            font-weight: 100;

                            text-align: center;

                            margin: min(1rem,11.28px) 0 min(0.0rem,2.256px) 0;


                        }

                        .text_space .header_text_line_2 {
                            color: var(--clr-themeColor);

                            font-size: min(3.55vmax,40px);
                            word-spacing: 0.05em;
                            text-transform: uppercase;
                            font-weight: 500;

                            text-align: center;

                            margin: 0 0 min(2rem,22.56px) 0;

                        }

                        .text_space .header_text_line_3 {
                            color: var(--clr-lightgrey-text);
                            font-size: max(0.9vmax,13px); /* calc(5px + (7vw/12));*/
                            font-weight: 200;
                            word-spacing: 0.05em;

                            align-self: flex-start; /**/

                            margin: 0 0 min(2rem,22.56px) 0;

                            padding-right: 60%;

                        }

                .button_space {

                    flex: 1;
                    width: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;


                }

                .header_Text_Link  {

                    /*set if using light lines button*/
                                
                    /*font-size: max(12.36px,1.5vmin);          */ 
                    
                    /* light lines button */

        

            /*      height: min(1.5rem, 32px);
                    width: min(6rem, 130px);
                    min-height: 31.3px;
                    min-width: 133.58px; */







                    display: flex;
                    align-items: center;
                    justify-content: center;






                    font-size: max(0.7vmax, 12px);
                    font-weight: 400;

                    color: var(--clr-lightgrey-text);
                    border: 1.2px solid var(--clr-lightgrey-border-needed);
                    border-radius: 10px;

                    height: max(1.7vmax, 30px); /**/
                    width: max(7vmax, 120px); /**/

                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    text-align: center;



                }

                    .header_Text_Link p {

                    } 

                    




}

.container2_test {

/*    border: 1px dotted rgba(41,41,43,1);*/

    background:


    linear-gradient(to right,  rgba(0, 0, 0, 0.6) ,  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,rgba(0, 0, 0, 0)),
    linear-gradient(to top, rgba(41,41,43,0) 10%,  rgba(41,41,43,0) 15%, rgba(41,41,43,255) 90% ,rgba(41,41,43,255) 100%),  
    rgba(41,41,43,255);
        /*add for top continuation with container1 */

    

    height: 120vh;
    max-width: 1800px;
    margin:0 auto;

    display: flex;
    flex-direction: row;
    padding-top: 70px;
}
          

.hr1 {
    border-top: 0.01rem solid;
    border-image-slice: 1;                  
    border-image-source: linear-gradient(to left, var(--clr-gradient1), var(--clr-gradient2));

    height: 0px;
    width: 60%;
    margin: 0 auto;
    opacity: 0.5;
}

/* changes the cursor shape on selected links */
.cursor_pointer {
    cursor: pointer;

}


            .header_Text_Link:hover {


/*                background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient2));
*/                /* remove for white text, remove i used it for some reason but its not necessary */

                /* style : filled color icon */
/*                
                color: black;
                background-color: var(--clr-themeColor);
                font-weight: 400;
                border: 0.1em solid var(--clr-themeColor);
                

                /* style : gradient color on hover */ /*
                color: white;
                background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient1), var(--clr-gradient2));
                font-weight: 300;
                border: none;
*/

                /* style : enlightened icon */
/*                
                text-shadow: 0px 0px 10px white;
                color:white;
                background-color: var(--clr-themeColor-opacity);
                border: 0.1em solid var(--clr-themeColor-darker);
                box-shadow: 0px 0px 1px var(--clr-themeColor-darker), inset 0px 0px 5px var(--clr-themeColor-darker);
                filter: blur(0.3px);
*/                
                /*background-color: var(--clr--contact-background-hover);*/


            }