
  
/*/////////////////////////////////////////////////////////////////////////////*/

            /* Add Gradient Text Text*/
            .header_Text_Link.Gradient_Text {

                background: linear-gradient(180deg, var(--clr-gradient1), var(--clr-gradient2));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    
                }

                /*normal hover effect*/
                .header1_part3_links.Gradient_Text_hover1:hover {

                    background: linear-gradient(to right, var(--clr-gradient2), var(--clr-gradient1));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: none;
        
                    }

                /*////////////////////////////////////////////////*/
                /*hover effect with animation*/
                .Gradient_Text_hover2 {
                    background: linear-gradient(to right, var(--clr-gradient2) 15%, var(--clr-gradient1) 20%, #fff 30%, #FFF 100%);

                    background-size: 100% auto;
                    
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: none;
                    
                    
                }
                    .Gradient_Text_hover2:hover {

                        animation-name: shine-in;
                        animation-duration: 1000ms;
                        animation-iteration-count: 1;
                        animation-timing-function: linear;
                        animation-fill-mode: forwards;

                }

                @keyframes shine-in {
                  to {
                    background-size: 300% auto;
                    opacity: 0.8;

                  }
                }


                /* text color on hover out becomes white gradually as border */

                .Gradient_Text_hoverout {
                    animation-name: shine-out;
                    animation-duration: 500ms;
                    animation-iteration-count: 1;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                }


                @keyframes shine-out {
                    0% {

                        background: linear-gradient(to right, var(--clr-gradient2) 15%, var(--clr-gradient1) 20%, #fff 30%, #FFF 100%);

                    background-size: 300% auto;
                    
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: none;
                        filter: brightness(100%);

                    }



                    100% {

                        background: linear-gradient(to right, var(--clr-gradient2) 15%, var(--clr-gradient1) 20%, #fff 30%, #FFF 100%);

                    background-size: 300% auto;
                    
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: none;
                        filter: brightness(500%) grayscale(1);

                    }

                  }
    
    /*/////////////////////////////////////////////////////////////////////////////*/
    
                /* Add Gradient Border */
                .Gradient_Border {
    
                    /* Gradient Border without Radius */
    /*              border: 1px solid;
                    border-image-slice: 1;                  
                    border-image-source: linear-gradient(to left, var(--clr-gradient1), var(--clr-gradient2));
                    */
    
                    border-color: rgba(0,0,0,0.0);
                    position: relative;

                    transition: mask 1000ms linear;
                    mix-blend-mode: screen; /*lightens the color*/

                }

    
                /* Add Gradient Border with Radius */
                .Gradient_Border::before {
                    
                    content: "";
                    position: absolute;
    
                    background: linear-gradient(to left, white, white);
                    -webkit-mask: 
                      linear-gradient(#fff 0 0) content-box, 
                      linear-gradient(#fff 0 0);
    
                    inset: -1.3px;
                    padding: 1.6px; /* control the border thickness */
                    -webkit-mask-composite: xor;
                            mask-composite: exclude;
    
                            border-radius: 9.5px;
                            transition: opacity 1000ms linear;

    
/*                    background: linear-gradient(to left, var(--clr-gradient2), var(--clr-gradient1));
*/
    
    
                }

                .Gradient_Border:hover::before {
                    background: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient1), #fff, #fff);                
                    opacity: 0;


                }


                .Gradient_Border::after {
                    
                    content: "";
                    position: absolute;
    
                    background: linear-gradient(to right, var(--clr-gradient2) , var(--clr-gradient2), var(--clr-gradient1));                
                    -webkit-mask: 
                      linear-gradient(#fff 0 0) content-box, 
                      linear-gradient(#fff 0 0);
    
                    inset: -1.3px;
                    padding: 1.6px; /* control the border thickness */
                    -webkit-mask-composite: xor;
                            mask-composite: exclude;
    
                    border-radius: 9.5px;
                    transition: opacity 750ms linear;
                    opacity: 0;


    
/*                    background: linear-gradient(to left, var(--clr-gradient2), var(--clr-gradient1));
*/
    
    
                }

                .Gradient_Border:hover::after {
                    opacity: 1;
                }



                

                @keyframes gradient_border_anim {
                    0%   {linear-gradient(to left, white, white);}
                    15% {background: linear-gradient(to left, var(--clr-gradient2),white, white, white ,white, white );}
                    30% {background: linear-gradient(to left, var(--clr-gradient2),var(--clr-gradient2), white, white ,white, white );}
                    45% {background: linear-gradient(to left, var(--clr-gradient2),var(--clr-gradient2), var(--clr-gradient2), white ,white, white );}
                    60% {background: linear-gradient(to left, var(--clr-gradient1),var(--clr-gradient2), var(--clr-gradient2), var(--clr-gradient2) ,white, white );}
                    75% {background: linear-gradient(to left, var(--clr-gradient1),var(--clr-gradient1), var(--clr-gradient1), var(--clr-gradient2) ,var(--clr-gradient2), white );}
                    90% {background: linear-gradient(to left, var(--clr-gradient1),var(--clr-gradient1), var(--clr-gradient1), var(--clr-gradient2) ,var(--clr-gradient2), var(--clr-gradient2) );}
                    100% {background: linear-gradient(to left, var(--clr-gradient1),var(--clr-gradient2));}

                  }

/*/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////*/

        .Gradient_Link_Background3 {
            color: white;
        }

        .Gradient_Link_Background3:hover {
            color: black;
            animation-name: gradient_bg_anim;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }      

        @keyframes gradient_bg_anim {
            0%   {linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0));}
            15% {background: linear-gradient(to left, var(--clr-gradient2),rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0) ,rgba(0,0,0,0), rgba(0,0,0,0) );}
            30% {background: linear-gradient(to left, var(--clr-gradient2),var(--clr-gradient2), rgba(0,0,0,0), rgba(0,0,0,0) ,rgba(0,0,0,0), rgba(0,0,0,0) );}
            45% {background: linear-gradient(to left, var(--clr-gradient2),var(--clr-gradient2), var(--clr-gradient2), rgba(0,0,0,0) ,rgba(0,0,0,0)rgba,(0,0,0,0), rgba(0,0,0,0) );}
            60% {background: linear-gradient(to left, var(--clr-gradient1),var(--clr-gradient2), var(--clr-gradient2), var(--clr-gradient2) ,rgba(0,0,0,0), rgba(0,0,0,0) );}
            75% {background: linear-gradient(to left, var(--clr-gradient1),var(--clr-gradient1), var(--clr-gradient1), var(--clr-gradient2) ,var(--clr-gradient2), rgba(0,0,0,0) );}
            90% {background: linear-gradient(to left, var(--clr-gradient1),var(--clr-gradient1), var(--clr-gradient1), var(--clr-gradient2) ,var(--clr-gradient2), var(--clr-gradient2) );}
            100% {background: linear-gradient(to left, var(--clr-gradient1),var(--clr-gradient2));}

          }
      
        .Gradient_Link_Background2 {


            transition: color 2s ease, font-weight 0.1s ease-out;


            position: relative;         


        }


        .Gradient_Link_Background2:hover {
            color: black !important;        /*activate the transparent text*/
            font-weight: 900;
            text-shadow: none;

        }


                /*-----------------------------------------------------------------------------*/
                .Gradient_Link_Background2::before { 

                    /*before or after the content of the element */
                    /* dont work on images because they are content themselves */
                    content: ' '; /* Add Text for white text */

                    background-image: linear-gradient(to right, var(--clr-gradient2) , var(--clr-gradient1), var(--clr-gradient1));                
                    position: absolute;

                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: inherit;
                    width: inherit;


                    border-radius: inherit;
                    z-index: -2; /* make 0 for white text */
                    opacity:0;                    

                    
                    transition: opacity 1000ms linear;

                }



                .Gradient_Link_Background2::after { 

                    /*before or after the content of the element */
                    /* dont work on images because they are content themselves */
                    content: ' '; /* Add Text for white text */

                    background-image: linear-gradient(to right, var(--clr-gradient2) , var(--clr-gradient2), var(--clr-gradient1));                
                    position: absolute;

                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: inherit;
                    width: inherit;


                    border-radius: inherit;
                    z-index: -1; /* make 0 for white text */
                    opacity:0;                    

                    
                    transition: opacity 2000ms linear;

                }

                .Gradient_Link_Background2:hover::before {
                    opacity: 1;
                }

                .Gradient_Link_Background2:hover::after {
                    opacity: 1;
                }


    /*/////////////////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////////////////////////////////////*/


                .Gradient_Link_Background {

    
                    font-size: 20px;
                    font-weight: 900;
                    padding-top: 0px;


                    /* style : to use gradient color to work with the ::before - transparent text */
                    background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient2));
                    border: none;
    
                    /* Gives the transparent text property, Remove for white text */
                    color: black;
                    transform: translate(0%, 0%);
                    mix-blend-mode: screen;
    
                    position: relative;         
    
    
                }
    
                        /*-----------------------------------------------------------------------------*/
                        .Gradient_Link_Background::before { 
    
                            /*before or after the content of the element */
                            /* dont work on images because they are content themselves */
                            content: ' '; /* Add Text for white text */
    
                            background-image: linear-gradient(to right, var(--clr-gradient1) , var(--clr-gradient1), var(--clr-gradient2));                position: absolute;
    
                            top:0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        
                            height: inherit;
                            width: inherit;
    
                            opacity:0;                    
    
                            border-radius: 10px;
                            z-index: -1; /* make 0 for white text */
                            mix-blend-mode: multiply; /* remove for white text */
    
                            
                            transition: opacity 1000ms linear;
    
                        }
    
                        .Gradient_Link_Background:hover::before {
                            opacity: 1;
                        }   
    
    
    
                /*////////////////////////////////////////////////////////////////////////////*/
                /*////////////////////////////////////////////////////////////////////////////*/
                .blur_gradient_hover {

                    background: rgba(130, 130, 130, 0.147);
                    border: 1px solid rgba(130, 130, 130, 0.06);
                    backdrop-filter: blur(10px);
                    position: absolute;

                    z-index: 2;

                    right: 50%;
                    top:50%;

                    transform: translate(50%, -50%);
                    

                }

                .blur_gradient_hover::before {
                    content: ' '; /* Add Text for white text */

                    position: absolute;

                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: inherit;

                    backdrop-filter: blur(30px);

                    background-image: linear-gradient(to right, var(--clr-gradient2-o) , var(--clr-gradient2-o), var(--clr-gradient1-o));                
                    
                    z-index: -2;
                    opacity:0;                    
                    transition: opacity 1000ms linear;


                }

                .blur_gradient_hover::after {

                    content: ' '; /* Add Text for white text */

                    position: absolute;
                    backdrop-filter: blur(30px);

                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: inherit;

                    background-image: linear-gradient(to right, var(--clr-gradient2-o) , var(--clr-gradient1-o), var(--clr-gradient1-o));                
                    
                    z-index: -1;
                    opacity:0;                    
                    transition: opacity 2000ms linear;

                }

                .blur_gradient_hover:hover::before {
                    opacity: 1;
                }

                .blur_gradient_hover:hover::after {
                    opacity: 1;
                }

                .blur_gradient_hover:hover {
                    background: none;
                }
                
                /*////////////////////////////////////////////////////////////////////////////*/